<div fxLayout="row" fxLayoutAlign="center">
    <form #createReasonGroupForm
          fxFlex.gt-lg="20"
          fxFlex.gt-md="33"
          fxFlex.gt-sm="40"
          fxFlex.gt-xs="50"
          fxFlex.xs="100"
          fxLayout="column">
        <mat-form-field>
            <input [(ngModel)]="request.name" matInput name="name" placeholder="Название" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Группа</mat-label>
            <mat-select [(ngModel)]="request.parentId" name="parent">
                <mat-option>Не выбрано</mat-option>
                <mat-option *ngFor="let group of reasonGroups" [value]="group.id">
                    {{group.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Причина</mat-label>
            <mat-select [(ngModel)]="request.reasonId" name="reason">
                <mat-option>Не выбрано</mat-option>
                <mat-optgroup *ngFor="let key of reasonsMapKeys" [label]="key">
                    <mat-option *ngFor="let reason of reasonsMap.get(key)" [value]="reason.id">
                        {{reason.name}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <div *ngIf="getSelectedReason()">{{getSelectedReason()?.id}} :: {{getSelectedReason()?.name}}</div>

        <mat-form-field>
            <textarea [(ngModel)]="request.body" matInput name="body" placeholder="Сообщение" rows="3"></textarea>
        </mat-form-field>
        <button (click)="save()"
                [disabled]="!createReasonGroupForm.reportValidity() || creating"
                color="primary"
                mat-raised-button
                type="submit">
            Сохранить
        </button>
    </form>
</div>