<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex.gt-lg="20" fxFlex.gt-md="30" fxFlex.gt-sm="40" fxFlex.gt-xs="50" fxFlex.xs="100">
        <form #loginForm="ngForm" fxLayout="column">
            <mat-form-field>
                <input [(ngModel)]="model.login" matInput name="login" placeholder="Логин" type="text">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="model.password" matInput name="password" placeholder="Пароль" type="password">
            </mat-form-field>
            <button (click)="doLogin()" color="primary" mat-raised-button type="submit">Войти</button>
        </form>
        <div class="manual" fxLayout="column" fxLayoutAlign="center center">
            <a href="https://github.com/mih-kopylov/myspb" mat-flat-button target="_blank">
                <img alt="GitHub Logomark"
                     src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                     width="60">
            </a>
        </div>
    </div>
</div>

