<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex.gt-lg="20" fxFlex.gt-md="30" fxFlex.gt-sm="40" fxFlex.gt-xs="50" fxFlex.xs="100">
        <form #loginForm="ngForm" fxLayout="column">
            <mat-form-field>
                <input [(ngModel)]="model.login" matInput name="login" placeholder="Логин" type="text">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="model.password" matInput name="password" placeholder="Пароль" type="password">
            </mat-form-field>
            <button (click)="doLogin()" color="primary" mat-raised-button type="submit">Войти</button>
        </form>
    </div>
</div>

