<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex.gt-lg="20" fxFlex.gt-md="30" fxFlex.gt-sm="40" fxFlex.gt-xs="50" fxFlex.xs="100">
        <form #loginForm="ngForm" fxLayout="column">
            <mat-form-field>
                <input matInput type="text" placeholder="Логин" [(ngModel)]="model.login" name="login">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Пароль" [(ngModel)]="model.password" name="password">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" (click)="doLogin()">Войти</button>
        </form>
    </div>
</div>

