<div fxLayout="column">
    <div *ngIf="selectedGroupId">
        <mat-card (click)="navigateBack()" fxLayoutAlign="center">
            <mat-card-title>{{getGroupById(selectedGroupId)?.name}}</mat-card-title>
        </mat-card>
    </div>
    <div fxLayout="row wrap">
        <mat-card (click)="select(group)" *ngFor="let group of getReasonGroupsByParent(selectedGroupId)"
                  fxFlex.gt-lg="20"
                  fxFlex.gt-md="33"
                  fxFlex.gt-sm="40"
                  fxFlex.gt-xs="50"
                  fxFlex.xs="100"
                  fxLayoutAlign="center"
        >
            <mat-card-title>{{group.name}}</mat-card-title>
        </mat-card>
    </div>
</div>
<button [queryParams]="{parentId: selectedGroupId}" class="create-reason-group" color="primary" mat-fab
        routerLink="/createReasonGroup">
    <mat-icon>add</mat-icon>
</button>